.tab-container {
  display: flex;
}

.tab1 {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #2f4f4f;
  font-weight: 600;
}
.tab2 {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #2f4f4f;
  font-weight: 600;
}
.tab3 {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #2f4f4f;
  font-weight: 600;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  width: 100%;
}
.can {
  font-weight: 600;
  font-family: sans-serif;
  background-color: #2f4f4f;
  color: aliceblue;
}
.tab-container :hover {
  background: rgb(4, 43, 23);
  background: linear-gradient(
    48deg,
    rgba(4, 43, 23, 1) 34%,
    rgba(24, 36, 24, 1) 61%,
    rgba(3, 23, 2, 1) 81%
  );
  color: aliceblue;
}
